@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme Variables */
:root {
  --background: #27374D;
  --surface: #526D82;
  --primary-text: #9DB2BF;
  --secondary-text: #DDE6ED;
  --divider: #DDE6ED;
  --shadow: rgba(0, 0, 0, 0.25);
  --primary: #526D82;
  --secondary: #9DB2BF;
  --warning: #FFC107;
  --error: #DC3545;
  --info: #17A2B8;
  --success: #28A745;
}

/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  color: var(--primary-text);
  font-size: smaller;
  height: 100%;
}

.flex {
  display: flex;
}

.panel {
  padding: 10px;
  border-radius: 3px;
  margin: 1px;
  background: var(--surface);
  box-shadow: 0 2px 3px var(--shadow);
  display: flex;
  flex-direction: column;
  height: 99%;
}

.history-panel {
  flex: 1 0 20%;
  overflow-y: auto;
}

.request-panel {
  flex: 1 0 30%;
  overflow-y: auto;
}

.response-panel {
  flex: 1 0 50%;
  overflow-y: auto;
}

.panel-content {
  overflow-y: auto;
  flex-grow: 1;
}

.tab {
  cursor: pointer;
  padding: 0.3rem 0.6rem;
  margin-right: 0.3rem;
  border: 1px solid var(--divider);
  border-bottom: none;
  background: var(--surface);
  border-radius: 4px 4px 0 0;
}

.tab.active {
  background: var(--background);
  border-bottom: 1px solid var(--surface);
  color: var(--secondary-text);
}

.tab-content {
  border: 1px solid var(--divider);
  padding: 0.5rem;
  background: var(--surface);
  white-space: pre-wrap;
  word-break: break-word;
  overflow-y: auto;
  max-height: 100%;
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-y: auto;
  max-height: 98%;
}

ul {
  padding: 2px;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-y: auto;
  max-height: 98%;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow-y: auto;
  display: block;
  max-height: 100%;
  table-layout: fixed;
}

th, td {
  border: 1px solid var(--divider);
  padding: 5px;
  text-align: left;
  color: var(--secondary-text);
}

th {
  background-color: var(--background);
  color: var(--secondary-text);

}

td:first-child {
  background-color: var(--background);
  color: var(--secondary-text);
}

.url {
  word-break: break-all;
  overflow-wrap: anywhere;
}

.button {
  background-color: var(--secondary);
  color: var(--surface);
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--background);
  color: var(--primary-text);
}

select {
  color: var(--primary-text);
  border: 1px solid var(--divider);
  border-radius: 4px;
  padding: 0.5rem;
  appearance: none;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

input[type="text"], textarea {
  background-color: var(--surface) !important;
  color: var(--primary-text);
  border: 1px solid var(--divider);
  border-radius: 4px;
  padding: 0.5rem;
  appearance: none;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

select:hover, select:focus, input[type="text"]:hover, input[type="text"]:focus, textarea:hover, textarea:focus {
  border-color: var(--info);
}

select option {
  background-color: var(--surface);
  color: var(--primary-text);
}
