@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme Variables */
:root {
  --background: #f5f5f5;
  --light-background: #ffffff;
  --surface: #eeeeee;
  --primary-text: #31363f;
  --secondary-text: #dde6ed;
  --dark-text: #111111;
  --divider: #dde6ed;
  --shadow: rgba(0, 0, 0, 0.25);
  --primary: #526d82;
  --secondary: #9db2bf;
  --warning: #ffd966;
  --error: #f28b82;
  --info: #7ea8d7;
  --success: #90c695;
  --dropdown-box-shadow: rgba(162, 206, 209, 0.7);
  --group-card-hover: #f0f0f0;
  --seperator: #cccccc;
  --select-background-color: #f3f4f6;
  --select-text-color: #374151;
  --select-focus-border-color: #2563eb;
  --select-focus-box-shadow: rgba(37, 99, 235, 0.3);
}

/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--surface);
  color: var(--primary-text);
  font-size: 0.75rem;
  height: 100%;
  width: 99.4%;
}

.main-content {
  padding-top: 2.5rem;
  height: calc(104vh - 2.55rem);
  display: flex;
  flex-direction: row;
}

.flex {
  display: flex;
}

.panel {
  padding: 5px;

  margin: 1px;
  background: var(--background);
  box-shadow: 0 2px 3px var(--shadow);
  display: flex;
  flex-direction: column;
  height: 99.8%;
}

.menu-panel {
  flex: 1 0 2.5%;
  overflow-y: auto;
}


.history-panel-horizontal {
  flex: 1 0 15%;
  overflow-y: hidden;
}

.history-panel-vertical {
  flex: 1 0 20%;
  overflow-y: hidden;
}

.request-panel {
  flex: 1 0 27%;
  overflow-y: auto;
}

.response-panel {
  flex: 1 0 55%;
  overflow-y: auto;
}

.panel-content {
  overflow-y: auto;
  flex-grow: 1;
}

.combined-panel {
  flex: 1 0 78%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.request-section {
  flex: 0 0 auto;

  overflow-y: hidden;
}

.divider {
  height: 1px;
  background-color: var(--divider);
  cursor: ns-resize;

}

.response-section {
  flex: 1;
  overflow-y: hidden;
  flex-direction: column;
}


.tab {
  cursor: pointer;
  padding: 0.2rem 0.4rem;
  transition: all 0.3s ease;
  margin-right: .1rem;
  border-bottom: none;
  background: var(--surface);
}

.tab-content {
  border: 1px solid var(--divider);
  padding: 0.5rem;
  background: var(--surface);
  white-space: pre-wrap;
  word-break: break-word;
  overflow-y: auto;
  height: 100%;
  max-height: 100%;
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-y: auto;
  max-height: 100%;

}

ul {
  padding: 2px;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-y: auto;
  max-height: 98%;
}

li {
  border-bottom: 1px solid var(--divider);
  padding: 0 5px 5px 0;
}

li:hover {
  font-weight: bolder;
  color: var(--dark-text);
}

.table-container {
  max-height: auto;
  /* Adjust this value as needed */
  overflow-y: auto;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow-y: auto;

  max-height: 100%;
  table-layout: fixed;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;

}

th,
td {
  border: 1px solid var(--divider);
  padding: 10px;
  text-align: left;
  color: var(--primary-text);
  padding: 0.5rem;
  /* font-size: 0.75rem; */
}

th {
  background-color: var(--secondary);
  color: var(--background);
}

tr:nth-child(even) {
  background-color: var(--light-background);
}


.url {
  word-break: break-all;
  overflow-wrap: anywhere;
  font-size: .67rem;
}

.button {
  background-color: var(--secondary);
  color: var(--surface);
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--background);
  color: var(--primary-text);
}

select {
  color: var(--primary-text);
  border: 1px solid var(--divider);
  border-radius: 1px;
  padding: 0rem;
  appearance: none;
  cursor: pointer;
  transition: border-color 0.3s ease;
  font-size: x-small;
  font-weight: bold;
  width: 11%;
}

select:hover,
select:focus,
input[type='text']:hover,
input[type='text']:focus,
textarea:hover,
textarea:focus {
  border-color: var(--info);
}

select option {
  background-color: var(--surface);
  color: var(--primary-text);
  font-size: x-small;
  padding: 0%;
}

input[type='text'],
textarea {
  background-color: var(--surface) !important;
  color: var(--primary-text);
  border: 1px solid var(--divider);
  border-radius: 4px;
  padding: 0.5rem;
  appearance: none;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.history-item:hover .delete-icon {
  display: inline;
}

.history-item:hover .duplicate-icon {
  display: inline;
}

.delete-icon {
  display: none;
  cursor: pointer;
  margin-left: 10px;
  color: var(--error);
}

.duplicate-icon {
  display: none;
  cursor: pointer;
  margin-left: 10px;
  color: var(--info);
}

.clear-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1rem;
  color: var(--secondary-text);
  transition: color 0.3s ease;
  user-select: none;
}

.icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.status-box {
  border: 1px solid var(--divider);
  padding: .16rem !important;
  border-radius: 0.1rem !important;
  margin-bottom: 0.7rem;
  font-size: 0.58rem;
  font-weight: bold;
}

.status-box .bg-green-500 {
  background-color: #4caf50;
}

.status-box .bg-blue-500 {
  background-color: #2196f3;
}

.status-box .bg-yellow-500 {
  background-color: #ffeb3b;
}

.status-box .bg-red-500 {
  background-color: #f44336;
}

.status-box .bg-gray-500 {
  background-color: #9e9e9e;
}

.clear-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1rem;
  color: var(--dark-text) !important;
  transition: color 0.3s ease;
  user-select: none;
}

.clear-icon:hover {
  color: var(--error) !important;
  font-weight: bolder;
}

input[type='text'],
textarea {
  width: 100%;
  padding-right: 30px;
  box-sizing: border-box;
}

.response-container {
  position: relative;
  height: 100%;
}

.copy-button {
  position: sticky;
  top: 0rem;
  right: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.response-content {
  max-height: auto;
  overflow-y: auto;
}

.export-button {
  background-color: var(--primary);
  color: var(--background);
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.export-button:hover {
  background-color: var(--primary-dark);
}


@keyframes flash {
  0% {
    background-color: rgba(255, 255, 0, 0.2);
  }

  100% {
    background-color: transparent;
  }
}

.flash {
  animation: flash 0.5s ease-in-out;
}

.z-50 {
  z-index: 50;
}

.status-section {
  margin-bottom: 1rem;
}

.divider {
  border-top: 1px solid #ccc;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.status-history-modal {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

}

.status-history {
  background-color: var(--surface);
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 90%;
  overflow-y: auto;
  width: 23%;
  position: relative;
}

.status-history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 2px;
}

.status-history-item>div {
  padding: 0 15px;
}

.api-flow-panel {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  border-left: 1px solid var(--divider);
}

.variables-panel {
  padding: 1rem;
  border: 1px solid var(--seperator);
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: var(--surface);
}

.headers-panel {
  padding: 1rem;
  border: 1px solid var(--seperator);
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: var(--surface);
}

.button {
  background-color: var(--primary);
  color: var(--background);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

.method-get {
  background-color: #90c695;
  /* Koyu Pastel Green */
}

.method-post {
  background-color: #7ea8d7;
  /* Koyu Pastel Blue */
}

.method-put {
  background-color: #ffd966;
  /* Koyu Pastel Yellow */
}

.method-delete {
  background-color: #f28b82;
  /* Koyu Pastel Red */
}

.method-patch {
  background-color: #c29adb;
  /* Koyu Pastel Purple */
}

.method-options {
  background-color: #8fc5d5;
  /* Koyu Pastel Cyan */
}

.method-head {
  background-color: #a2b5d9;
  /* Koyu Pastel Light Blue */
}

.method-connect {
  background-color: #e2aaff;
  /* Koyu Pastel Pink */
}

.method-trace {
  background-color: #ffb870;
  /* Koyu Pastel Peach */
}

.confirm-dialog {
  background-color: var(--surface);
  border: 1px solid var(--seperator);
}

.confirm-dialog .cancel {
  background-color: var(--error);
  color: var(--dark-text);
}

.confirm-dialog .confirm {
  background-color: var(--success);
  color: var(--dark-text);
}

pre {
  background: var(--light-background);
  /* Example background color */
  padding: 1rem;

  border-radius: 0.5rem;
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
  ;
}

.sending-request {
  background-color: rgba(0, 0, 0, 0.5);
}

.response-tabs {
  margin-bottom: 0.05rem;
}

.delete-all {
  color: var(--error);
}

.body-textarea {
  color: var(--primary-text);
  background-color: var(--light-background);
}

.header-count {
  background-color: var(--primary);
  color: var(--primary-text);
  border-radius: 50%;
  padding: 0.2em 0.45em;
  margin-left: 0.2em;
  font-size: 0.8em;
  font-weight: bold;
}

.header-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.header-inputs {
  display: flex;
  flex: 1;
  margin-right: 0.5rem;
}

.input-container {
  position: relative;
  flex: 1;
  width: 100%;
}

.header-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--divider);
  border-radius: 0.25rem;
  background-color: var(--accent);
  color: var(--primary-text);
}

.header-row input[type="checkbox"] {
  margin-right: 0.5rem;
}

.header-row button {
  margin-left: 0.5rem;
}

.autocomplete-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid var(--divider);
  background-color: var(--light-background);
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
}

.autocomplete-suggestion {
  padding: 0.5rem;
  cursor: pointer;
}

.autocomplete-suggestion:hover {
  background-color: var(--surface);
}

.group-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--background);
  padding: 0.2rem;
  box-shadow: inset 0 -2px 0 0 var(--divider);
}

.history-list-horizontal {
  max-height: calc(100vh - 10.19rem);
  overflow-y: auto;
  margin-top: .5rem;

}

.history-list-vertical {
  max-height: calc(100vh - 10.1rem);
  overflow-y: auto;
  margin-top: .5rem;

}

.group-title {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1rem;
  box-shadow: inset 0 -3px 0 0 var(--divider);
  margin-bottom: 5%;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.search-container {
  margin-bottom: 1rem;
}

.search-container input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--divider);
  border-radius: 4px;
  background-color: var(--surface);
  color: var(--primary-text);
}

.search-container input:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 2px var(--primary-light);
}


.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--divider);
}

.row {
  display: flex;
  width: 100%;
}

.cell-header {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid var(--divider);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--background);
}

.cell {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid var(--divider);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--primary-text);
}

.header {
  background-color: var(--secondary);
  font-weight: bold;
}

.header .cell {
  border-top: none;
}

.delete-all-button {
  background-color: var(--error);
  color: var(--background);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 2.3rem;
  border: 1px solid transparent;
}

.delete-all-button:hover {
  background-color: var(--background);
  color: var(--error);
  border-color: var(--error);
}

.delete-all-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--error-light);
}

.delete-all-button svg {
  margin-right: 0.5rem;
}

.diff-view-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.diff-view-modal-content {
  background-color: var(--background);
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  height: 90%;
  overflow: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.compare-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: var(--surface);
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  margin-top: 1rem;
}

.compare-button:hover {
  background-color: var(--primary-dark);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.compare-button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-text {
  margin-right: 10px;
}

.button-icon {
  display: flex;
  align-items: center;
}

.button-icon svg {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.compare-button:hover .button-icon svg {
  transform: rotate(45deg);
}

.close-button {
  background: var(--surface);
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  background: var(--hover-background);
  color: var(--error);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.close-button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Custom Checkbox Styles */
.custom-checkbox {
  position: relative;
  padding-left: 12px;
  cursor: pointer;
  font-size: 12px;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: var(--surface);
  border: 2px solid var(--primary);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.custom-checkbox:hover input~.checkmark {
  background-color: var(--primary-light);
}

.custom-checkbox input:checked~.checkmark {
  background-color: var(--primary);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked~.checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 5px;
  top: 2px;
  width: 3px;
  height: 7px;
  border: solid var(--surface);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox input:disabled~.checkmark {
  background-color: var(--divider);
  border-color: var(--secondary-text);
  cursor: not-allowed;
}

.custom-checkbox input:disabled~.checkmark:after {
  border-color: var(--secondary-text);
}

.import-button-container {
  position: relative;
  width: 100%;
  height: 2.5rem;
}

.variables-select {
  background-color: var(--surface);
}

.send-request-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  color: var(--background);

  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-request-button:hover {
  background-color: var(--primary-dark);
}

.send-request-button .button-text {
  margin-right: 1rem;
  font-weight: bold;
}

.send-request-button .button-icon {
  display: flex;
  align-items: center;
}